# Hello
This is a paragraph
- Bullet points

$ fancy\_equations $

_To go to Google click [here](https://google.com)_

> Wow

 ## You can even add GIFs!!

 <img src="https://media.tenor.com/eKSgDPloD8UAAAAd/mike-o-hearn.gif"
    style="height:200px; float: center; margin: 0 40px 40px 40px;"></img>

In [1]:
import numpy as np
import pandas as pd

# Important functions

### value_counts()
Used to give us a GROUP BY

In [9]:
df = pd.DataFrame({
    'Name': [
        'Bulbasaur',
        'Charmander', 
        'Squirtle',
        'Charizard',
        'Lapras',
        'Pikachu'
    ],
    'Type': [
        'Grass',
        'Fire',
        'Water',
        'Fire',
        'Water',
        'Electric'
    ]
})

df

         Name      Type
0   Bulbasaur     Grass
1  Charmander      Fire
2    Squirtle     Water
3   Charizard      Fire
4      Lapras     Water
5     Pikachu  Electric

In [12]:
df['Type']

0       Grass
1        Fire
2       Water
3        Fire
4       Water
5    Electric
Name: Type, dtype: object

In [13]:
df['Type'].value_counts()

Fire        2
Water       2
Grass       1
Electric    1
Name: Type, dtype: int64